/*
Design by FlashTemplatesDesign.com
http://www.flashtemplatesdesign.com/
Released for free under a Creative Commons Attribution 2.5 License
*/


*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}

a {text-decoration: underline;}

#left a {
	color:#32A5E7;
}

#right a{
	color: #32A5E7;
}

a:hover{
	text-decoration: none;
	color: #32A5E7;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/bg.jpg) top repeat-x ;
	margin: 4px 0px 0px 0px;
	line-height: 20px;
}

#main {
	width: 1016px;
	margin-left: 0px;
	background: url(images/main.jpg) left top no-repeat;
	margin: 0px auto;
}


#header { 
width:1016px;
padding: 0px 0px 0px 0px;
height: 420px;
background: url(images/big.jpg) left top no-repeat;
}

#logo {	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:18px;
		font-style:italic;
		padding: 15px 0px 0px 135px;
		background:url(images/logo.jpg) left top no-repeat;
		height: 340px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
}


#logo H2 a{
	font-size: 14px;
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight:100;
}

#buttons{
	width: 1006px;
	background: url(images/but.png) left top no-repeat;
	text-align:center;
	margin-left: 0px;
	padding-left:10px;
	padding-top: 0px;
	height: 62px;
}

#buttons a {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 18px;
	display: block;
	float: left;
	height: 40px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 18px;
	text-align: center;
	width: 199px;
}

#buttons a:hover {
	text-decoration: underline;
	background: url(images/but_ov.jpg) 0px 2px repeat-x;
}

#content{
	width: 1016px;
	padding: 0px 0px 0px 0px;
	background: url(images/cont_mid.gif) repeat-y;
	margin: 0px 0px 0px 0px;
}

#right{
	width: 285px;
	margin: 0px 0px 0px 0px;
	float: right;
	color:#000000;
}

.right_b {	background: url(images/fish.png)  10px 17px no-repeat;
		padding-left: 32px;
		padding-top: 15px;
		width: 240px;}

.text{
	padding: 10px 0px 0px 5px;
}

.img {	float:left;
		margin: 5px 16px 5px 0px;
}

#right span {	color:#276FC0;
		font-weight:bold;
}

#left span {	color:#276FC0;
		font-weight:bold;
}
		
.col_b {color:#276FC0;}

#right H1{
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #ffffff;
	text-align:center;
	background: url(images/tit_r.jpg) left top no-repeat;
	height: 32px;
	padding-top: 12px;
}

#left H2{
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #3890E5;
	padding-top: 12px;
	padding-left: 0px;
	text-align: left;
	background: url(images/tit.gif) bottom repeat-x;
	padding: 18px 0px 4px 0px;
}

.read{
	text-align:right;
	padding-right:10px;
	padding-top: 5px;
	font-weight:bold;
	text-decoration:none;
}

#left{
float: left;
width: 695px;
background: url(images/bg_left.jpg) left 25px repeat-x;
margin-left: 0px;
padding: 0px 0px 0px 0px;
}

.tit_bot { background: url(images/right_tit_bot.jpg) left top no-repeat;
padding: 5px 0px 0px 0px;}

.top { background: url(images/cont_top.gif) top no-repeat;
				width: 996px;
				padding: 5px 5px 0px 15px;
				}

.bot {	background: url(images/cont_bot.gif) left bottom no-repeat;
				width: 1016px;
				height: 10px
				}

#footer{
	height: 53px;
	width: 100%;
	font-size: 12px;
	color: #002140;
	text-align: center;
	clear:both;
	padding: 12px 0px 0px 0px;
	background: url(images/but.png) 0px 3px no-repeat;
}

#footer a{
	color: #002140;
	font-size: 12px;
	text-decoration: none;
}

#footer a:hover{
	color: #002140;
	font-size: 12px;
	text-decoration: underline;
}
